.JoinPage{
    background-color: rgb(27, 24, 24);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JoinContainer{
  

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.JoinContainer >img{
  
    width: 10vmax;
    mix-blend-mode:black;

}
.JoinContainer >h1{
  
   color: aliceblue;
   font-size: 3vmax;
   font-family: "Roboto", sans-serif;
    border-bottom: .2vmax solid white;

}
#joinInput{
    width: 25vmax;
    font-family: "Roboto", sans-serif;
    padding: 1.5vmax;
    font-size: 1.2vmax;
    outline: none;
    border:none;
    margin: 2vmax;
 

}
.joinButton{
    display: inline-block;
    width: 25vmax;
    font-family: "Roboto", sans-serif;
    color:rgb(243, 239, 236);
    font-size: 1.5vmax;
    background-color: rgb(252, 72, 7);
    padding: 1vmax;
    font-size: 2vmax;
    border-radius: 1vmax;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
   
}
a.joinButton{
    text-decoration: none;
}
.joinButton:hover{
    background-color: brown;
}

